%article{ class: ((index.zero? && first && index_page? && params[:month].nil?) ? "post first" : "post") }
  %time
    = I18n.l Time.mktime(2000, post.created_at.month.to_s), format: "%B", locale: :ru
    %em= post.created_at.day
  %h2= link_to post.content(@current_shard_language).title, blog_path(post)
  - if post.content(@current_shard_language).photos.empty?
    %p= raw post.content(@current_shard_language).cut
  - else post.content(@current_shard_language).photos.empty?
    .fotoramajs{ "data-width" => 640, "data-height" => 480 }
      - post.content(@current_shard_language).photos.each do |photo|
        = image_tag photo.url
  = link_to t("front.cheglakov.blog.read_more") + "...", blog_path(post) if post.content(@current_shard_language).has_cut?
  = render partial: "cheglakov/shared/tag_cloud", locals: { tags: post.content(@current_shard_language).tags }
  .comments
    %em.l-left
    %em.l-right
    %p.comment-num
      %span.nowrap
        %a{ href: blog_path(post, anchor: 'comments') }
          %b= post.content(@current_shard_language).comments_count
          = Russian.p(post.content(@current_shard_language).comments_count, "комментарий", "комментария", "комментариев")
      %i.icon.comment
