.page-head
  %em.l-left
  %ul.breadcrumbs
    %li.next-post
      = link_to t("front.cheglakov.blog.next"), blog_path(@post.next) if @post.next
    %li.prev-post
      = link_to t("front.cheglakov.blog.prev"), blog_path(@post.prev) if @post.prev
    /%li= t("front.cheglakov.blog.blog")
    %li
      = link_to t("front.cheglakov.return"), root_path
%article.post.full{ "data-comments-count" => @post.content(@current_shard_language).comments_count, "data-entity-id" => "blog-#{@post.content(@current_shard_language).id}" }
  %time
    = I18n.l Time.mktime(2000, @post.created_at.month.to_s), format: "%B", locale: :ru
    %em= @post.created_at.day
  %h2= link_to @post.content(@current_shard_language).title, blog_path(@post)
  .comment-num
    %em коммен- тарии
    %span.nowrap
      %b= @post.content(@current_shard_language).comments_count
      %i.icon.comment
  - unless @post.content(@current_shard_language).photos.empty?
    .fotoramajs{ "data-width" => 640, "data-height" => 480 }
      - @post.content(@current_shard_language).photos.each do |photo|
        = image_tag photo.url
  %p= raw @post.content(@current_shard_language).uncut
  %p.tags
    %a{ href: "" }
  = render partial: "cheglakov/shared/tag_cloud", locals: { tags: @post.content(@current_shard_language).tags }
  = render "shared/share_buttons"
  -# = render partial: "shared/commentatr_comments", locals: { entry_id: @post.content(@current_shard_language).commentatr_hash, lang: @current_shard_language.language.code }
  -# = stylesheet_link_tag "cheglakov/comments"
