!!!
:erb
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%head
  %meta{ charset: "utf-8" }
  %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
  %meta{ name: "description", content: t("front.cheglakov.description") }
  %meta{ name: "viewport", content: "width=device-width" }
  %link{ rel: "icon", href: "/favicon.ico", type: "image/x-icon"}
  %link{ rel: "shortcut icon", href: "/favicon.ico", type: "image/x-icon"}

  %title= t('front.cheglakov.aleksandr_cheglakov')
  = stylesheet_link_tag "cheglakov"
  %link{ href: 'http://fonts.googleapis.com/css?family=Philosopher&subset=latin,cyrillic', rel: 'stylesheet', type: 'text/css'}
  %link{ href: "http://vjs.zencdn.net/c/video-js.css", rel: "stylesheet" }
  :erb
    <!--[if IE 8]>  <%= stylesheet_link_tag("ie/ie.css") %> <![endif]-->
  = javascript_include_tag "cheglakov"
  %script{ src: "http://vjs.zencdn.net/c/video.js" }
  %script{ src: "http://vk.com/js/api/share.js?11" }
  = yield :head
%body
  %div{ role: "main", class: "page #{@page_class}" }
    %header
      %nav
        %ul.social
          %li
            %a{ href: "http://vk.com/drcheglakov" }
              %i.icon.vk
              %span.t-tip= t('front.cheglakov.network.profile.vk')
          %li
            %a{ href: "https://twitter.com/#!/DrCheglakov" }
              %i.icon.tw
              %span.t-tip= t('front.cheglakov.network.profile.tw')
          %li
            %a{ href: "http://www.facebook.com/drcheglakov" }
              %i.icon.fb
              %span.t-tip= t('front.cheglakov.network.profile.fb')
        %ul.menu
          = render "cheglakov/shared/navigation", { part: :top }
      %h1
        = link_to t('front.cheglakov.aleksandr_cheglakov'), root_path
    %section.center-section
      = yield
    %aside.leftsidebar
      %h4= t('front.cheglakov.tag.tags')
      - unless @misc_tags.empty?
        %ul
          - @misc_tags.each do |tag|
            %li{ class: ("active" if tag == @tag) }
              = link_to tag.name, blog_tagged_by_path(tag)
    %aside.rightsidebar
      = render "cheglakov/shared/share_buttons"
      %div
        %h4= t('front.cheglakov.read.us')
        %ul.inline.feeds
          %li
            %a{ href: "http://drcheglakov.livejournal.com/" }
              %i.icon.lj-u
              = t('front.cheglakov.read.lj')
          %li
            %a{ href: "http://www.facebook.com/drcheglakov" }
              %i.icon.facebook-u
              = t('front.cheglakov.read.fb')
          %li
            %a{ href: "https://twitter.com/#!/DrCheglakov" }
              %i.icon.tw-u
              = t('front.cheglakov.read.tw')
    %footer
      .copy
        .title
          %h2
            = link_to "Личный блог Александра Чеглакова ©", root_path
          %p
            %em Все права защищены.
          %p
            %em 2012.
      %nav
        %ul.page-move
          %li
            %a{ href: "#" }
              %i.icon.page-up
              наверх
        %ul.favorites
          %li
            %a.add_to_bookmarks{ href: "#" }
              в избранное
              %i.icon.fav
        %ul.social
          %li
            %a{ href: "http://vk.com/drcheglakov" }
              %i.icon.vk
              %span.t-tip= t('front.cheglakov.network.profile.vk')
          %li
            %a{ href: "https://twitter.com/#!/DrCheglakov" }
              %i.icon.tw
              %span.t-tip= t('front.cheglakov.network.profile.tw')
          %li
            %a{ href: "http://www.facebook.com/drcheglakov" }
              %i.icon.fb
              %span.t-tip= t('front.cheglakov.network.profile.fb')
      .info
        %p
          %em Контактная информация:
        %p
          %a{ href: "skype:+74959531111?call" }
            %b +7 (495) 953–11–11
        %p
          %a{ href: "mailto:alexander@cheglakov.me" }
            %i alexander@cheglakov.me
